HELP.md

# Maven
target/
*.log

# Gradle
build/

# Ejecutables Java
*.jar
*.war
*.ear

# Variables de entorno / configuración sensible
.env
*.env

# Archivos de sistema
.DS_Store
Thumbs.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
